body {
      text-align: center;
      font-family: sans-serif;
    }


#left, #right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.count {
    font-size: 50px;
    margin: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
}
/* button {
    font-size: 20px;
    margin: 10px;
    padding: 20px 20px;
} */

.btn {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  color: red;
}

#dice {
  background-color: white;
  font-size: 50px;
}
